{% load i18n %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}
<div id="User Registration">
<h1>{% trans 'User Register' %}</h1>
    {% trans 'Please Register here:' %}</p>
    <table>
        <form action="" method="post" onkeypress="return event.keyCode != 13" id="register_form">{% csrf_token %}
    {% bootstrap_form form layout='horizontal' size='sm' %}

            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <p>{{ errors }}</p>
                    {% endfor %}
                {% endfor %}
            {% endif %}

    <tr><td></td><td>{% buttons %}
    <button type="submit" class="btn btn-primary">
      {% bootstrap_icon "star" %} Register
    </button>
  {% endbuttons %}</td></tr>
    </form>
    </table>
{% endblock %}
</div>