{% extends 'cloudmesh_portal/layout/index.jinja' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}


<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        $('#dictTable').DataTable({
           aLengthMenu: [
                [10, 20, 50, 100, 200, -1],
                [10, 20, 50, 100, 200, "All"]
            ],
            iDisplayLength: 10,
            responsive: true,
        });
    } );
</script>

<table  id="dictTable" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Action</th>
            {% for attribute in order %}
                    <th> {{ attribute }} </th>
            {% endfor %}
        </tr>
    </thead>
    {% if data is mapping  %}
    <tbody>
        {% for element in data %}
        <tr>
            <td>
                {% if data[element]['cluster'] %}
                    {% if data[element]['state'] in ["active"] %}
                        <a href="power/off/{{data[element]['cluster']}}/{{data[element]['name']}}">{{ icon("on", "green") |safe}}</a>
                    {% else %}
                        <a href="power/on/{{data[element]['cluster']}}/{{data[element]['name']}}">{{ icon("on", "red") |safe}}</a>
                    {% endif %}
                    <a href="console/{{data[element]['cluster']}}/{{data[element]['name']}}">{{ icon("terminal") |safe}}</a>
                    <a href="power/reboot/{{data[element]['cluster']}}/{{data[element]['name']}}">{{ icon("refresh") |safe}}</a>
                    {{ icon("chart") |safe}}
                    {{ icon("info") |safe}}
                {% else %}
                    {% if data[element]['frontend state'] in ["active"] %}
                        <a href="power/off/{{data[element]['name']}}/">{{ icon("on", "green") |safe}}</a>
                    {% else %}
                        <a href="power/on/{{data[element]['name']}}/">{{ icon("on", "red") |safe}}</a>
                    {% endif %}
                    <a href="console/{{data[element]['name']}}/">{{ icon("terminal") |safe}}</a>
                    <a href="power/reboot/{{data[element]['name']}}/">{{ icon("refresh") |safe}}</a>
                    {{ icon("chart") |safe}}
                    {{ icon("info") |safe}}
                {% endif %}
            </td>
            {% for a in order %}
               <td>
                   {% if a in ["st","status", "avail", "state", "down"] %}
                        {{ state_color(data[element][a]) |safe }}
                   {% else %}
                        {{ data[element][a]|safe }}
                   {% endif %}
               </td>

            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
    {% endif %}
</table>



{% endblock %}
