{% extends 'cloudmesh_portal/layout/index.jinja' %}

{% block title %}Comet Virtual Cluster Console{% endblock %}
{% block content %}
<h4>Cluster: {{cluster}}</h4>
<h4>Node: {{node}} </h4>
<div>
<!--iframe src="{{ url }}" width="100%" height="600"></iframe-->
<object data="{{ url}} " width="100%" height="600">
    <embed src="{{ url }}" width="100%" height="600"> </embed>
    Error: Console could not be displayed.
</object>
</div>
{% endblock %}