{% extends 'cloudmesh_portal/layout/index.jinja' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}


<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        $('#dictTable').DataTable({
           aLengthMenu: [
                [10, 20, 50, 100, 200, -1],
                [10, 20, 50, 100, 200, "All"]
            ],
            iDisplayLength: -1,
            responsive: false,
        });
    } );
</script>

<form>
<table  id="dictTable" class="table table-striped table-bordered">
    <thead>
        <tr>
            {% if header %}
                {% for attribute in header %}
                        <th> {{ attribute }} </th>
                {% endfor %}
            {% else %}
                {% for attribute in order %}
                        <th> {{ attribute }} </th>
                {% endfor %}
            {% endif %}
        </tr>
    </thead>
    {% if data is mapping  %}
    <tbody>
        {% for element in data %}
        <tr>

            {% for a in order %}
               <td>

                   {% if a in ["active"] %}


                       <input id="active"
                        type="checkbox"
                        name="checkbox_active"
                        value="{{data[element]["cm_label"]}}"
                                    {% if data[element]["default"] %}
                                    checked="checked"
                                    {% endif %}
                        >

                   {% endif %}

                   {% if a in ["default"] %}
                        <input id="default"
                               type="radio"
                               name="checkbox_default"
                               value="{{data[element]["cm_label"]}}"
                                            {% if data[element]["default"] %}
                                            checked="checked"
                                            {% endif %}
                        >
                   {% endif %}
                   {% if a not in ["active", "default"] %}
                        {{ data[element][a] |safe }}

                   {% endif %}

               </td>

            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
    {% endif %}
</table>
</form>


{% endblock %}
