{% extends 'cloudmesh_portal_comet/index.jinja' %}

{% block title %}Comet Virtual Cluster Console{% endblock %}
{% block content %}
<h4>Cluster: {{cluster}}
&nbsp&nbsp&nbsp&nbsp
Node: {{node}} </h4>
<h4>Actions: <a href="/comet/power/reboot/{{cluster}}/{{node}}" class="btn btn-warning btn-small">REBOOT</a></h4>
<div>
<!--iframe src="{{ url }}" width="100%" height="600"></iframe-->
<object data="{{ url}} " width="100%" height="600">
    <embed src="{{ url }}" width="100%" height="600"> </embed>
    Error: Console could not be displayed.
</object>
</div>
{% endblock %}