{% extends 'cloudmesh_portal_comet/index.jinja' %}

{% block title %}Comet Virtual Cluster Status{% endblock %}


{% block graphA %}
<embed
       type="image/svg+xml"
       src="{{ static("cloudmesh_portal/pie.svg") }}"/>
<p>
{% endblock %}


{% block graphB %}
<embed
       type="image/svg+xml"
       src="{{ static("cloudmesh_portal/pie_vector.svg") }}"/>
<p>
{% endblock %}

{% block graphC %}
<embed
       type="image/svg+xml"
       src="{{ static("cloudmesh_portal/radar.svg") }}"/>
<p>
{% endblock %}

{% block graphD %}



<div style="background-color:#EBEBEB;">
<center>
Allocation of the Virtual Clusters par site
</center>
<br>

 <script type="text/javascript" src="https://www.google.com/jsapi"></script>


 <script type='text/javascript'>
   google.load('visualization', '1', {'packages': ['geomap']});
   google.setOnLoadCallback(drawMap);

    function drawMap() {

      var data = google.visualization.arrayToDataTable([
        ['City', 'Nodes'],
        ['Bloomington, IN ', 4],
        ['San Diego, CA', 10],
        ['Austin, TX', 1],
        ['Durham, NC', 1],
        ['Madison, WI', 42],
        ['Columbus, OH', 1],
        ['Bozeman, MT', 1],
        ['Los Angeles, CA', 1]
      ]);


      var options = {};
      options['title'] = 'Projects using Comet Virtual Clusters';
      options['region'] = 'US';
      options['colors'] = [0xFF8747, 0xFFB581, 0xc06000]; //orange colors
      options['dataMode'] = 'markers';
      options["padding"] = "0px";

      var container = document.getElementById('map_canvas');
      var geomap = new google.visualization.GeoMap(container);
      geomap.draw(data, options);
    };
 </script>

<div class="embed-responsive embed-responsive-16by9" height="100%">
<div class="embed-responsive-item" id='map_canvas' width="100%"></div>

</div>

<div height="100%" style="background-color:#EBEBEB;">
<br><br>
<div>
{% endblock %}
