{% extends 'cloudmesh_portal_hpc/index.jinja' %}


{% block jumbotron %}
<div class="jumbotron">

<h1> Cloudmesh HPC Portal</h1>


          <div class="row placeholders">

              <p>Cloudmesh Client HPC Portal Application allows you to create interfaces to
              queues of a supercomputer. Supported queuing systems include at present:
              </p>

              <ul>
               <li>SLURM</li>
              </ul>

              <p>
              The Cloudmesh Client HPC Portal Application is based on cloudmesh client as it is intended to by run
              not as a community portal but as a client portal.
              </p>


              <p>Queues can be configured in the cloudmesh.yaml file.</p>

              <a class="btn btn-lg btn-primary"
                 href="http://cloudmesh.github.io/client/"
                 role="button">More information cloudmesh client &raquo;</a>
              <br><br>


          </div>


{% endblock %}