{% extends 'cloudmesh_portal/base.html' %}

{% load bootstrap3 %}


{% block title %}
    {{ title }}
{% endblock %}

{% block content %}


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/bs-3.3.5/jq-2.1.4,dt-1.10.8/datatables.min.css"/>

<script type="text/javascript" src="https://cdn.datatables.net/r/bs-3.3.5/jqc-1.11.3,dt-1.10.8/datatables.min.js"></script>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        $('#dictTable').DataTable();
    } );
</script>

<table  id="dictTable" class="table table-striped table-bordered">
    <thead>
        <tr>
        {% for attribute in order %}
                <th> {{ attribute }} </th>
        {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for index, element in data.items %}
        <tr>
            {% for a in order %}
                <td> {{ element|get_item:a }} </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>



<script src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.9/js/dataTables.bootstrap.min.js"></script>



{% endblock %}
