{% extends 'cloudmesh_portal/layout/index.jinja' %}

{% block title %}
{% endblock %}

{% block content %}


{% endblock %}


{% block jumbotron %}
<div class="jumbotron">

<h1> Comet and Cloudmesh Ghost</h1>


          <div class="row placeholders">
            <div class="col-xs-6 col-sm-6 placeholder">
              <img src="{{ static("icons/ghost.png") }}" width="100%"/>

            </div>
            <div class="col-xs-6 col-sm-6 placeholder">

              <p>Comet Ghost allows you to create <b>virtual clusters</b> on
              SDSC Comet easily. </p>
              <p> Comet Ghost is a combination of multiple  technologies. It uses
              Rocks to manage clusters, and myCloudmesh.org to expose the cluster management
              through s shell <b> command</b>, a command <b>shell</b> and this
              <b> portal </b>.
              </p>
              <!--
              <a class="btn btn-lg btn-primary"
                 href="/#navbar"
                 role="button">More information &raquo;</a>
              -->
            </div>
          </div>




{% endblock %}