{% extends 'cloudmesh_portal/layout/index.jinja' %}

{% block content %}

<h2>Parameters</h2>

<table>
{% for key in parameters %}
    <tr>
        <td>
            {{ key }}
        </td>
        <td>
            {{ parameters[key] }}
        </td>
    </tr>
{% endfor %}
</table>

<h2>Response</h2>

{%if response %}
    <div name="response" style="font-weight:bold">
        {{response}}
    </div>
{% endif %}


{% endblock %}
