{% extends 'cloudmesh_portal/base.html' %}

{% block title %}Comet Virtual Cluster Status{% endblock %}


{% block content %}

{% load staticfiles %}

  <script type="text/javascript" src="https://www.google.com/jsapi"></script>


 <script type='text/javascript'>
   google.load('visualization', '1', {'packages': ['geomap']});
   google.setOnLoadCallback(drawMap);

    function drawMap() {

      var data = google.visualization.arrayToDataTable([
        ['City', 'Nodes'],
        ['Bloomington, IN ', 4],
        ['San Diego, CA', 10],
        ['Austin, TX', 1],
        ['Durham, NC', 1],
        ['Madison, WI', 1],
        ['Columbus, OH', 1],
        ['Bozeman, MT', 1],
        ['Los Angeles, CA', 1]
      ]);


      var options = {};
      options['title'] = 'Projects using Comet Virtual Clusters';
      options['width'] = 500;
      options['region'] = 'US';
      options['colors'] = [0xFF8747, 0xFFB581, 0xc06000]; //orange colors
      options['dataMode'] = 'markers';

      var container = document.getElementById('map_canvas');
      var geomap = new google.visualization.GeoMap(container);
      geomap.draw(data, options);
    };
 </script>


<embed width="500px"
       type="image/svg+xml"
       src="{% static "cloudmesh_portal/pie.svg"%}"/>
<embed width="500px"
       type="image/svg+xml"
       src="{% static "cloudmesh_portal/pie_vector.svg"%}"/>
<embed width="500px"
       type="image/svg+xml"
       src="{% static "cloudmesh_portal/radar.svg"%}"/>

<embed width="500px">
<div id='map_canvas' width="500px"></div>
</embed>



<p>
This code has been adopted from cloudmesh
</p>
{% endblock %}

